@media print {
    * {
        background: transparent !important;
        box-shadow:none !important;
        text-shadow: none !important;
    }
	
	#cv {
		margin: baselines() 0;
	}

	.menu {
		display: none;
	}
	
    pre,
    blockquote {
        page-break-inside: avoid;
        background: none;
    }

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.7cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
